@inherits CompositeC1WebPage

@{
    var stylesFolder = "~/Frontend/Styles";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@CurrentPageNode.Title</title>
    <!-- The 1140px Grid -->
    <link rel="stylesheet" href="@Href(stylesFolder)/stylesheet.css" type="text/css" media="screen" />
    @if (!string.IsNullOrEmpty(CurrentPageNode.Description))
    {
        <meta name="Description" content="@CurrentPageNode.Description"/>
    }
    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composite.Web.Html.Template.CommonMetaTags">
		<f:param name="Designer" value="Composite C1 starter site" />
	</f:function>
</head>
<body>
    <div id="mainWrapper">
        <!--header logo and navigation display-->
        <div id="headerWrapper">
            <!--header  links-->
            <div class="topper-menu float-right">
                <ul class="list-style-none">
					<li><a href="/">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Notice</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <!--//header links-->

            <!--branding display-->
            <div id="logoWrapper">
                <div id="logo">
					<a href="/">
                    <img src="/frontend/images/logo.gif" alt="Designed by 12leaves.com - ecommerce webdesign services" title="Designed by 12leaves.com - ecommerce webdesign services" width="158" height="42" /></a></div>
            </div>
            <div class="clearBoth"></div>
            <!--//branding display-->
            <!--//header logo and navigation display-->

            <div id="top_nav">
				<f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Layout.Navigation.Menu" />

                <div id="login_logout_section" class="float-right">
                    <a href="#=login">Sign In</a>or<a href="#=create_account">Register</a>
                </div>
            </div>

            <!-- tools section -->
            <div id="tools_wrapper" class="align-center">
                <div class="tools-nav-left"></div>
                <div class="tools-nav-right"></div>

                <div class="float-left td-search-header">
                    <div class="search-header float-left">
                        <form name="quick_find_header" action="#" method="get">
                            <div class="search-header-input">
                                <input name="keyword" size="6" maxlength="30" value="Search..." onfocus="if (this.value == 'Search...') this.value = '';" onblur="if (this.value == '') this.value = 'Search...';" type="text" />
                            </div>
                            <input class="button-search-header" src="/frontend/images/search_header_button.gif" value="Serch" type="image" />
                        </form>
                        <div class="advanced_search float-left">
                            <a href="#=advanced_search">Advanced Search</a>
                        </div>
                    </div>
                </div>
                <div class="float-right td-languages" align="right">

                    <!-- header cart section -->
                    <table class="align-center cart-header" align="right">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#=shopping_cart">
                                        <img class="cart-icon full float-left" src="/frontend/images/spacer.gif" alt="" /><span>1</span>item(s)</a> in your cart - <span>$39.99</span>
                                </td>
                                <td>|</td>
                                <td></td>
                                <td class="blue-link">
                                    <a href="#=checkout_shipping">Checkout</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /header cart section -->
                </div>

                <div class="clearBoth"></div>
            </div>
            <!-- /tools section -->

        </div>

        @RenderBody()

        <div id="navSuppWrapper">
            <!--navigation display -->
            <ul class="footer-links list-style-none float-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Notice</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
            <!--//navigation display -->
            <!-- site copyright display -->
            <div id="siteinfoLegal" class="legalCopyright">Copyright © 2010 <a href="#" target="_blank">OnlineStore</a>. Designed by <a href="http://www.12leaves.com/">12leaves.com</a></div>
            <!--// site copyright display -->
            <div class="clearBoth"></div>
        </div>
    </div>
</body>
</html>
